.select {
    box-sizing: border-box;

width: 284px;
height: 48px;

background: #FFFFFF;
border: 1px solid #BCBCBC;
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.selecthead {
    width: 371px;
height: 21px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
/* identical to box height, or 131% */

display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}