.experiencePosition{
    width: 798px;
height: 21px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
/* identical to box height, or 131% */

display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.date {
    display: flex;
    gap: 30px;
}
.aaj{
  
width: 371px;
height: 48px;

background: #FFFFFF;
border: 1px solid #BCBCBC;
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.exp_line {
    position: absolute;
    width: 798px;
    height: 0px;
    
    top: 650px;
    
    border: 1px solid #C1C1C1;
}
.more_exp{
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 18px 60px;
gap: 20px;

position: absolute;
width: 289px;
height: 48px;

top: 650px;

background: #62A1EB;
border-radius: 4px;
}
.more_info_exp {
    width: 247px;
height: 20px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 20px;

color: #FFFFFF;


}