{/*
.personal {
    position: relative;
}
.personal_form{
    margin: 100px;
}
.personal_left {
    position: absolute;
width: 40px;
height: 40px;
left: 48px;
top: 45px;

background: #FFFFFF;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #5e55d7;
  }
  */}

  body {
    background: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
     
  }
  .personalPage {
    position: absolute;
    
  }
  form {
    max-width: 500px;
    margin: 0 auto;
    color: black;
  }
  
  .personal h1 {
    font-weight: 100;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(79, 98, 148);
  }
  
  .form {
    background: #0e101c;
    max-width: 400px;
    margin: 0 auto;
  }
  
  p {
    color: #bf1650;
  }
  
  p::before {
    display: inline;
    content: "⚠ ";
  }




  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Select some files';
    display: inline-block;
    background: blue;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
   
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
  .upload_zone{
    display: flex;
  }

.upload_img{
    width: 107px;
    height: 27px;
    font-weight: 400;
font-size: 14px;
line-height: 17px;
    background-color: blue;
    color: white;
    position: relative;
    left: 15px;
    bottom: 10px;
   
}
.uploadtxt{
    width: 69px;
height: 17px;
    font-size: 14px;
    position: relative;
    left: 12px;
    top: 4px;
}



  
  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
   
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: black;
    font-size: 14px;
    font-weight: 500;
  }
  
  
 
  button[type="submit"]:active,
  input[type="button"]:active,
  input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
  }
  
  input:disabled {
    opacity: 0.4;
  }
  
  input[type="button"]:hover {
    transition: 0.3s all;
  }
  
  button[type="submit"],
  input[type="button"],
  input[type="submit"] {
    -webkit-appearance: none;
  }
  
  .App {
    max-width: 600px;
    margin: 0 auto;
  }
  
  button[type="button"] {
    display: block;
    appearance: none;
    background: #333;
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
  }
  
  hr {
    margin-top: 30px;
  }
  
  button {
    display: block;
    appearance: none;
    margin-top: 40px;
    border: 1px solid #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
  }
  .Aboutme{
    box-sizing: border-box;


height: 103px;

background: #FFFFFF;
border: 1px solid #BCBCBC;
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;
  }
  
  .input_info{
    
    position:relative;
    bottom:15px;
    font-weight: 300;
font-size: 14px;
line-height: 21px;
  }
  .input_namelastname {
    display: flex;
    gap: 30px;
  }
  .submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    gap: 20px;
    
    position: absolute;
    width: 151px;
    height: 48px;
    right: 972px;
    bottom: 65px;
    
    background-color: #6B40E3;
    border-radius: 4px;
  }
  
.label-error{
  color: red;
  
}
.input-error {
  border: 1px solid red;
}

.errormessage {
  position: absolute;
left: 102%;
top: 37%;

color: red;
}
.green {
  color: green;
}