.resume{ 
    position: relative;
    background: #FFFFFF;
}
.resume_info {
    box-sizing: border-box;

position: absolute;
width: 822px;
height: 1080px;
left: calc(50% - 822px/2);
top: 54px;

background: #FFFFFF;
border: 0.8px solid #000000;
}
.resume_name{
    position: absolute;
width: 123px;
height: 42px;
left: 80px;
top: 68px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 42px;
/* identical to box height */


color: #F93B1D;
}
.resume_lastname {
    position: absolute;
width: 166px;
height: 42px;
left: 223px;
top: 68px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 42px;
/* identical to box height */


color: #F93B1D;
}
.resume_img {
    position: absolute;
    width: 246px;
    height: 246px;
    left: 501px;
    top: 48px;
    
  
    border-radius: 133px;
}
.emailIcon {
    position: absolute;
    left: 10.33%;
    right: 1.33%;
    top: 13.102%;
    bottom: 8.33%;
    
}
.resume_email{ 
    position: absolute;
width: 187px;
height: 21px;
left: 111px;
top: 127px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;

/* off black */

color: #1A1A1A;
}
.phoneIcon {
    position: absolute;
left: 10.33%;
right: 9.04%;
top: 15.9%;
bottom: 7.77%;


}
.resume_phone{ 
    position: absolute;
width: 151px;
height: 21px;
left: 111px;
top: 158px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;

/* off black */

color: #1A1A1A;

}
.resume_aboutme{
    position: absolute;
width: 118px;
height: 22px;
left: 80px;
top: 213px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #F93B1D;

}
.resume_aboutmeinfo{ 
    position: absolute;
width: 432px;
height: 72px;
left: 80px;
top: 250px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* or 138% */

text-transform: lowercase;

color: #000000;
}
.resume_experience {
    position: absolute;
    width: 143px;
    height: 22px;
    left: 80px;
    top: 365px;
    
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    
    color: #F93B1D;
}

.resume_experencename {
    position: absolute;
width: 178px;
height: 20px;
left: 80px;
top: 402px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;


color: #1A1A1A;

}
.resume_experienceyear{
    position: absolute;
    width: 183px;
    height: 19px;
    left: 80px;
    top: 429px;
    
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    color: #919191;   
}
.resume_experienceabout {
    position: absolute;
width: 662px;
height: 66px;
left: 80px;
top: 464px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* or 138% */

text-transform: capitalize;

color: #000000;

}
.resume_life {
    position: absolute;
    width: 662px;
    height: 0px;
    right: 80px;
    top: 562px;

    border: 1px solid #C8C8C8;
    
}
.resume_education {
    position: absolute;
width: 115px;
height: 22px;
left: 80px;
top: 588px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #F93B1D;
}
.resume_univesity{ 
    position: absolute;
width: 349px;
height: 20px;
left: 80px;
top: 625px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */


/* off black */

color: #1A1A1A;

}
.resume_role {
    position: absolute;
width: 81px;
height: 20px;
left: 445px;
top: 625px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */


/* off black */

color: #1A1A1A;

}

.resume_Periodofstudy {
    position: absolute;
width: 84px;
height: 19px;
left: 80px;
top: 652px;

font-family: 'Helvetica Neue';
font-style: italic;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #919191;
}
.resume_iLearned{
    position: absolute;
width: 662px;
height: 88px;
left: 80px;
top: 687px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* or 138% */

text-transform: lowercase;

color: #000000;
}